html {
  height: 100%;
  width: 100%;
  
}

.header-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #70a0ff;
  padding: 20px;
}

.links-con {
  width: 600px;
  display: flex;
  justify-content: space-around;
}

@font-face{
  font-family: BloxFruits;
  src: url(Mastery.ttf);
}

h2, p{
  font-family: BloxFruits;
}

.links {
  color: #a877e4;
  font-family: "Pacifico", cursive;
  font-size: 25px;
  margin-left: 8px;
  margin-right: 8px;
}


body{
  background-color: #70a0ff;
}



.title-con {

  display: flex;
  justify-content: center;
}
.gallery-title {
  font-size: 40px;
  margin-top: 30px;
}

.gallery-con {
    width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery {
  display: flex;
  justify-content: center;
  border: #e371a3 2px solid;
  margin: 5px;
  border-radius: 10px;

}

.image {
  margin: 10px;
  border-radius: 10px;
}